@font-face {
  font-family: "Lato-Regular";
  src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(./fonts/Montserrat-Regular.otf);
}

:root {
  --primaryColor: #c11a24;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #111111;
  --charcoalBlack: rgb(29, 29, 29);
  --lightBlack: rgb(61, 61, 61);
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.3);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.3);
}

/* globals */
body {
  padding-top: 6px;
  color: var(--mainWhite);
  background: var(--mainBlack);
  font-family: Lato-Regular !important;
  line-height: 1.4;
}

.chart {
  width: 100%;
  padding: 3rem;
  background: var(--mainBlack);
  border-radius: 10px;
  border: 1px solid rgba(255, 99, 132, 1);
  transition: all 0.3s;
  max-width: 1100px;
}
.chart:hover {
  background: rgb(26, 26, 26);
}

.title {
  text-transform: capitalize;
  padding: 0.4rem;
}

.main-hr {
  background: rgba(255, 99, 132, 1);
  height: 0.3px;
  width: 100%;
  max-width: 1100px;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer-text {
  text-align: center;
  text-transform: capitalize;
  color: var(--mainBlack);
  padding: 1rem;
  background: var(--lightBlack);
  max-width: 1100px;
  width: 100%;
}
